<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="优美图,优美图片,头像,唯美头像,手机壁纸,高清壁纸,精美图片,唯美图片" />
    <meta name="description" content="优美图,女性最高品质图片分享社区,一亿张优美图库含时尚,艺术,摄影,模特,设计,插画,Android,ios手机壁纸,唯美头像等一切跟与美有关的图片资源.来优美图分享优美生活吧" />

    <title>优美图 - 收录优美图片 TOPIT.ME</title><meta property="qc:admins" content="3441254307647014655" />

    <link rel="canonical" href="http://www.topit.me/" />

    <script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "//hm.baidu.com/hm.js?5256b9d21d9d68644fca1a0db29ba277";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();</script>

    <link href="../assets/stylesheets/main21.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 7]><script src="http://www.topit.me/js/dd_iepng.js"></script><script>DD_belatedPNG.fix(".heart, .hearted");</script><style type="text/css">body{behavior:url("/js/csshover3.htc");}</style><![endif]-->

    <script src="../assets/javascript/jquery-1.4.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/javascript/jquery.ui-1.8.10.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/javascript/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/javascript/js/plugin.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/javascript/mainv19.js?v=6" type="text/javascript" charset="utf-8"></script>

    <link type="image/x-icon" rel="shortcut icon" href="http://www.topit.me/favicon.ico" />
</head>

<body>
   <!--  <a id="btn_close" onclick="window.opener = null;window.open('','_self','');window.close();" href="javascript:void(0);"><span style="display:none;">X</span></a>
    <a id="btn_return" onclick="if(history.length > 1){history.back();return false;}else{location.href='/';}" href="javascript:void(0);"><span style="display:none;">◁</span></a> -->

    <div id="header">
        <div id="header-inner">
            <div id="logo"><a href="index.htm"><span width="600px" height = "35px"><%= link_to '图片分享', root_path %><span></a></div>
            <ul id="menu" style="margin:20px 0 0 162px;"> 
                <li><%= link_to '图片', images_path %></li>
                <li><%= link_to '专辑', albums_path %></li>
                <li><%= link_to '文章', articles_path %></li>
                <li><a href="groups.htm">小组</a></li>
                <li><a href="teach.htm">教学</a></li>
                
            <style>.tipsy-inner {
                background-color: #000;
                color: #FFF;
                max-width: 200px;
                padding: 3px 5px 2px 5px;
                text-align: center;
            }</style>
       <script>//$(function(){var a=$("#chart");a.tipsy({gravity:"sw",fallback:"New"});a.trigger("mouseover");});</script>
            </ul>
            <div id="loggeduser"> 
                <ul id="nologged">
                    <li><big><strong><%= link_to '登录', users_path %></strong></big></li>
                    <li style="color:#ddd">或</li>
                    <li><big><strong><%= link_to '注册', new_user_path %></strong></big></li>
                </ul>
             </div>
            
            <div class="clear">
                    	
            </div>

        </div>
    </div>

    <div id="wrapper">
        <div id="wrapper-inner">
            <div id="canvas">
                <div id="content">
                    <div class="pageheader">
                        <h2>最新推荐图片</h2>
                        <div class="right">
                            <ul class="tabs">
                                <li class="active"><a href="index.htm">推荐</a></li>
                                <li><a href="login.htm">关注</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="catalog">
                        <div class="e m">
                            <div class="hover bar">
                                <div class="heartbtn">
                                    <a id="item_heart_2031339" class="heart nologin" href="http://www.topit.me/login?ref=%2F"><span></span></a>
                                </div>
                                <div class="title">
                                    <a href="http://www.topit.me/item/2031339">The Most Exotic Home Posted in 2010</a></div>
                                <div class="info"><a href="http://www.topit.me/user/71756">aurora收录</a></div>
                            </div>

                            <a target="_blank" href="http://www.topit.me/item/2031339"><img id="item_d_2031339" class="img" alt="The Most Exotic Home Posted in 2010" width="245px" height="200px" src="http://a4.topitme.com/m/201101/12/12947630822359.jpg" /></a>
                        </div>
                        <div class="e m">
                            <div class="hover bar">
                                <div class="heartbtn">
                                    <a id="item_heart_22847508" class="heart nologin" href="http://www.topit.me/login?ref=%2F"><span></span></a>
                                </div>
                                <div class="title"><a href="http://www.topit.me/item/22847508">D&#039;Arcy</a></div>
                                <div class="info"><a href="http://www.topit.me/user/1786499">达西收录</a></div>
                            </div>

                            <a target="_blank" href="http://www.topit.me/item/22847508"><img id="item_d_22847508" class="img" alt="D&#039;Arcy" width="245px" height="200px" src="http://a3.topitme.com/8/63/21/116955622599021638m.jpg" /></a> 
                        </div>
                        
                        <div class="e m">
                            <div class="hover bar">
                                <div class="heartbtn"> 
                                    <a id="item_heart_11134424" class="heart nologin" href="http://www.topit.me/login?ref=%2F"><span></span></a>
                                </div>
                                <div class="title"><a href="http://www.topit.me/item/11134424">图片</a></div>
                                <div class="info"><a href="http://www.topit.me/user/1078190">宝宝辛苦了收录</a></div>
                            </div>

                            <a target="_blank" href="http://www.topit.me/item/11134424"><img id="item_d_11134424" class="img" alt="图片" width="245px" height="200px" src="http://a3.topitme.com/7/c5/06/1131949433a2a06c57m.jpg" /></a>
                        </div>
                        <div class="e m">
                            <div class="hover bar">
                                <div class="heartbtn"> 
                                    <a id="item_heart_1862254" class="heart nologin" href="http://www.topit.me/login?ref=%2F"><span></span></a>
                                </div>

                                <div class="title"><a href="http://www.topit.me/item/1862254">Peter Callesen Paper Cut Sculpture</a></div>
                                <div class="info"><a href="http://www.topit.me/user/2322">Ginkgo_Garden收录</a></div>
                            </div>

                            <a target="_blank" href="http://www.topit.me/item/1862254"><img id="item_d_1862254" class="img" alt="Peter Callesen Paper Cut Sculpture" width="245px" height="200px" src="http://a4.topitme.com/m/201012/28/12935068053795.jpg" /></a>
                        </div>
                        <div class="e m">
                            <div class="hover bar">
                                <div class="heartbtn">
                                    <a id="item_heart_3097072" class="heart nologin" href="http://www.topit.me/login?ref=%2F"><span></span></a>
                                </div>
                                <div class="title"><a href="http://www.topit.me/item/3097072">O</a></div>
                                <div class="info"><a href="http://www.topit.me/user/308474">tiio收录</a></div>
                            </div>

                            <a target="_blank" href="http://www.topit.me/item/3097072"><img id="item_d_3097072" class="img" alt="O" width="245px" height="200px" src="http://a4.topitme.com/m015/100156313988c506d3.jpg" /></a>
                        </div>
                        <div class="e m">
                            <div class="hover bar">
                                <div class="heartbtn">
                                    <a id="item_heart_4175747" class="heart nologin" href="http://www.topit.me/login?ref=%2F"><span></span></a>
                                </div>
                                <div class="title"><a href="http://www.topit.me/item/4175747">广末凉子《No Make》</a></div>
                                <div class="info"><a href="http://www.topit.me/user/418384">cyn收录</a></div>
                            </div>

                            <a target="_blank" href="http://www.topit.me/item/4175747"><img id="item_d_4175747" class="img" alt="广末凉子《No Make》" width="245px" height="200px" src="http://a4.topitme.com/m066/100660673299f0f849.jpg" /></a>
                        </div>
        
                       
                             <div class="clear"></div>
                                 <script>try{$("img.img").lazyload({});}catch(ex){}</script>
                                 <div id="pagination">
                                   <div class="pages">
                                     <span class="current">1</span>
                                     <a href="http://www.topit.me/?p=2">2</a>
                                     <a href="http://www.topit.me/?p=3">3</a>
                                     <span class="dot">...</span>
                                     <a href="http://www.topit.me/?p=100">100</a>
                                     <a id="page-next" href="http://www.topit.me/?p=2">»</a>
                                     <form style="margin:0 0 0 20px;" method="get" action="http://www.topit.me/">
                                       去第<input id="page" class="page_number_input" type="text" value="1" name="p"/><input id="page_submit" type="submit" value="确认"/>
                                       页
                                     </form>
                                   </div>
                                 </div>
                             </div>
                        </div>
                    </div>
        <div id="sidebar"> 		<script type='text/javascript' src='http://js.adm.cnzz.net/js/abase.js'></script>
 		<script type='text/javascript'>
 		CNZZ_AD_BATCH('227994,227998,227999,228000,266075');
 		</script><div id="search"><form method="get" action="http://www.topit.me/items/search"><p><input type="text" value="数之不尽的图片等你发掘！" name="query" id="query"/><input type="submit" value="search" id="search_submit"/></p></form></div><script>$(function(){
								if($("#query").val() == "数之不尽的图片等你发掘！") {
									$("#query").one("focus", function () {
										$("#query").val("");
									});
								}});</script><style>.ac_results{ text-align: left;background: white;font-size: 14px;}.ac_results li{ padding: 2px;margin: 3px 0 3px 3px;}</style>
					<script src="http://img.topitme.com/js/jquery.autocomplete.js"></script>
						<script>$(function(){
								if (($.browser.msie && ($.browser.version != "6.0")) || !$.browser.msie) {
									$("#query").autocomplete("/ajx/login?mod=getautocomplete",{
										selectFirst: true,
										selectLast: false,
										reverseMode: false,
										scroll: false,
										matchContains: true,
										max: 10,
										scrollHeight: 300
									});
								}
							});
							</script>
							<div class="box"><a class="button" href="/" target="_blank"><i class="icon_plus"></i>上传图片</a></div>
							<div class="operbox">
							  <ul>
							    <li><a class="i_wall" target="_blank" href="http://www.topit.me/broad">全屏浏览</a></li>
							    <li><a class="i_wall" target="_blank" href="http://www.topit.me/wall">3D浏览</a></li>
							    <div class="clear"></div></ul><div class="clear"></div>
							    </div>
							    <div class="box">
							      <div id="custom_02" style="width:213px;height:200px;"><a href="" target="_blank"><img style="width:213px;height:200px;" src=""></a></div></div><div class="box tags"><ul><li><a href="http://www.topit.me/tag/%E5%A4%B4%E5%83%8F">头像</a></li><li><a href="http://www.topit.me/tag/%E5%A3%81%E7%BA%B8">壁纸</a></li><li><a href="http://www.topit.me/tag/%E6%83%85%E4%BE%A3">情侣</a></li><li><a href="http://www.topit.me/tag/%E6%89%8B%E7%BB%98">手绘</a></li><li><a href="http://www.topit.me/tag/%E8%83%8C%E6%99%AF">背景</a></li><li><a href="http://www.topit.me/tag/%E9%87%91%E7%A7%80%E8%B4%A4">金秀贤</a></li><li><a href="http://www.topit.me/tag/%E6%96%87%E5%AD%97">文字</a></li><li><a href="http://www.topit.me/tag/%E6%A1%8C%E9%9D%A2">桌面</a></li><li><a href="http://www.topit.me/tag/%E6%AC%A7%E7%BE%8E">欧美</a></li><li><a href="http://www.topit.me/tag/%E8%8A%B1">花</a></li><li><a href="http://www.topit.me/tag/%E5%8D%A1%E9%80%9A">卡通</a></li><li><a href="http://www.topit.me/tag/%E7%BA%B9%E8%BA%AB">纹身</a></li><li><a href="http://www.topit.me/tag/%E5%B9%B3%E9%93%BA">平铺</a></li><li><a href="http://www.topit.me/tag/%E9%BB%91%E7%99%BD">黑白</a></li><li><a href="http://www.topit.me/tag/%E7%8C%AB">猫</a></li><li><a href="http://www.topit.me/tag/%E5%8A%A8%E6%BC%AB">动漫</a></li><li><a href="http://www.topit.me/tag/%E5%A4%A7%E5%9B%BE">大图</a></li><li><a href="http://www.topit.me/tag/%E7%9F%AD%E5%8F%91">短发</a></li><li><a href="http://www.topit.me/tag/%E5%8F%A4%E9%A3%8E">古风</a></li><li><a href="http://www.topit.me/tag/%E6%B0%B4%E5%BD%A9">水彩</a></li><li><a href="http://www.topit.me/tag/%E6%98%9F%E7%A9%BA">星空</a></li><li><a href="http://www.topit.me/tag/%E7%BE%8E%E5%A5%B3">美女</a></li><li><a href="http://www.topit.me/tag/%E5%A9%9A%E7%BA%B1">婚纱</a></li><li><a href="http://www.topit.me/tag/%E6%80%A7%E6%84%9F">性感</a></li><li><a href="http://www.topit.me/tag/%E9%A3%8E%E6%99%AF">风景</a></li></ul><div class="clear"></div></div><div class="box hearters"><li><a href="http://www.topit.me/user/161187"><img id="user_d_161187" title="___蘇憶安" src="http://a0.topitme.com/4/v/47Mgl6v4m.jpg" /></a></li><li><a href="http://www.topit.me/user/169514"><img id="user_d_169514" title="屎娟." src="http://a0.topitme.com/r/s/3VHNtjsrm.jpg" /></a></li><li><a href="http://www.topit.me/user/186843"><img id="user_d_186843" title="油皮" src="http://a0.topitme.com/1/i/3UzLHUi1m.jpg" /></a></li><li><a href="http://www.topit.me/user/253289"><img id="user_d_253289" title="小希与阿树" src="http://a0.topitme.com/m/G/465qrbGmm.jpg" /></a></li><li><a href="http://www.topit.me/user/263308"><img id="user_d_263308" title="威廉阿姨" src="http://a0.topitme.com/w/9/43JLS29wm.jpg" /></a></li><li><a href="http://www.topit.me/user/354836"><img id="user_d_354836" title="蛋疼小馒头" src="http://a0.topitme.com/7/r/3RWGZQr7m.jpg" /></a></li><li><a href="http://www.topit.me/user/442782"><img id="user_d_442782" title="Chel.sea" src="http://a0.topitme.com/D/i/45t5YriDm.jpg" /></a></li><li><a href="http://www.topit.me/user/479634"><img id="user_d_479634" title="梨枝" src="http://a0.topitme.com/1/8/4csbuu81m.jpg" /></a></li><li><a href="http://www.topit.me/user/481199"><img id="user_d_481199" title="一然" src="http://a0.topitme.com/1/h/4cCblxh1m.jpg" /></a></li><li><a href="http://www.topit.me/user/1058554"><img id="user_d_1058554" title="牡蛎" src="http://a0.topitme.com/W/E/3RrIw0EWm.jpg" /></a></li><li><a href="http://www.topit.me/user/1786499"><img id="user_d_1786499" title="达西" src="http://a0.topitme.com/h/F/3T4n7fFhm.jpg" /></a></li><li><a href="http://www.topit.me/user/1924926"><img id="user_d_1924926" title="李素鱼" src="http://a0.topitme.com/A/8/4c90Oq8Am.jpg" /></a></li><li><a href="http://www.topit.me/user/2342119"><img id="user_d_2342119" title="情劫难渡" src="http://a0.topitme.com/4/L/4c2M2RL4m.jpg" /></a></li><li><a href="http://www.topit.me/user/3329789"><img id="user_d_3329789" title="伟大的安妮" src="http://a0.topitme.com/O/s/41zN0RsOm.jpg" /></a></li><li><a href="http://www.topit.me/user/4126966"><img id="user_d_4126966" title="一点水先生" src="http://a0.topitme.com/u/4/44oip24um.jpg" /></a></li><li><a href="http://www.topit.me/user/4174193"><img id="user_d_4174193" title="小木偶的玩具-文文" src="http://a0.topitme.com/W/U/44uFt3UWm.jpg" /></a></li><div class="clear"></div></div><style>.imgb{margin:0 7px 7px 0;}</style><div class="box box_small" style="width:214px;padding:7px 0 0 7px;background-color:#e9e9e9;"><div id="custom_227994" class="imgb"  style="width:207px;height:80px;"><script>CNZZ_SLOT_RENDER("227994");</script></div></div></div><div class="clear"></div></div></div>
							      
							      <div id="footer"><div id="footer-inner"><a href="http://www.topit.me/help">关于我们</a><a href="http://www.topit.me/help/guide">使用向导</a><a href="http://www.topit.me/help/rule">服务条款</a>&nbsp;&nbsp;© topit.me<a href="http://www.miibeian.gov.cn/">京ICP备09107066号</a>&nbsp;&nbsp;京公网安备110105010553&nbsp;&nbsp;<a href="/user/3828848/comments">违法不良信息举报中心</a></div></div></body></html><!-- .1|0.00356 -->
							      